<div class="container">
  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <h2 class="tect-container">Update User</h2>
    <div class="form-group m-3">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter name"
        formControlName="name"
      />
    </div>
    <div class="form-group m-3">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        formControlName="email"
      />
    </div>
    <div class="form-group m-3">
      <label for="phone">Phone</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        placeholder="Enter phone"
        formControlName="phone"
      />
    </div>
    <div class="text-center m-3">
      <button class="btn btn-success m-3">Update</button>
      <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
