<div class="container">
    <h3>Built-in Pipes</h3>
    <h2><b>{{name}}</b></h2>
    <h4>1. LowerCase Pipe
        Transformed to <b>{{name | lowercase}}</b></h4>
    <h4>2. Uppercase pipe transformed to <b>{{name | uppercase}}</b></h4>
    <h4>3. Title case transformed to <b> {{ name | titlecase }}</b></h4>
    <!-- <h4>4. Date is {{ date(). }}</h4> -->

    <h4>{{ person }} is tranformed to {{ person | json }}</h4>

    <h4>Date is {{ date }} transformed to {{date | date : 'short'  }}</h4>
</div>