<div class="container">
  <h2>CRUD Operations</h2>
  <table class="table table-bordered table-striped table-hover ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userData">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>
          <button type="button" class="btn btn-secondary" (click)="viewUser(data.id)">
            View
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-warning" (click)="updateUser(data.id)">
            Update
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteUser(data.id)">
            Delete
          </button>
        </td>

      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-success" (click)="addNewUser()">
    Add User
  </button>
</div>
